fastapi==0.109.2
uvicorn==0.27.1
python-jose[cryptography]==3.3.0
python-multipart==0.0.9
pydantic==2.6.1
pydantic-settings==2.1.0
python-dotenv==1.0.1
httpx==0.26.0
ipaddress==1.0.23
requests==2.31.0
email-validator==2.1.0.post1
passlib[bcrypt]==1.7.4
PyJWT==2.8.0
cryptography==42.0.2
flask==3.0.3